:root {
--background-three-color: #9D8B84;
--background-two-color: #8996A6;
--background-one-color: #849D8F;
--basic-white-color: #FFFFFF;
--light-link-action-color: #FFBC9E;
--dark-link-action-color: #E84D37;
--basic-dark-color: #323232;
--subs-text-color: #5A5A5A;
--placeholder-color: #999999;
--popup-color: #F8F7F4;
--nav-current-color: #D07058;
--stroke-light-color: #D3D3D2;
--stroke-color: #B2B2B2;
--stroke-dark-color: rgb(43, 43, 43, 0.52);
--nav-active-color: #EDEDED;
--catalog-nav-hover-color: #FBDED7;
--catalog-nav-active-color: #F6B5A5;
--unique-color: #2E88E4;
--shadow-color: #696969;
--special-white-color: #FEFEFE;
--banner-background1-color: #8C0D1E;
--banner-background2-color: #6F4B3D;
--waffle-background-color: #F0E2C7;
--button-link-color: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
--button-link-hover-color: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
--button-link-active-color: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);;
--button-link-shadow-color: rgba(172, 16, 0, 0.64);
--button-link-shadow-hover-color: #AC1000;
--button-link-shadow-active-color: #942718;
--text-shadow-color: rgba(160, 32, 11, 0.76);
--lower-background-color: rgba(255, 255, 255, 0.2);
--exception-color: #ABABAB;
--goods-item-background: rgba(0, 0, 0, 0.2);
--popup-shadow-color: rgba(0, 0, 0, 0.4);
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("fonts/roboto.woff2") format("woff2"), url("fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), url("fonts/robotomedium.woff2") format("woff2"), url("fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), url("fonts/robotobold.woff2") format("woff2"), url("fonts/robotobold.woff") format("woff");
}

/* Global */

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 1200px;
  min-height: 100%;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-white-color);

  background-color: var(--background-one-color);
}

.main-nav__list,
.nav-item__list,
.advertisement-list,
.hits-list,
.features-list,
.social-links__list,
.footer-nav__list,
.breadcrumbs,
.filters-form__list,
.catalog-list,
.pagination-list {
  padding-left: 0;

  list-style: none;
}

.nav-item__link,
.catalog-nav__item-link,
.main-header__link,
.main-header__logo-link,
.advertisement-link,
.banners-item__link,
.news-link,
.contacts-info__link-phone,
.contacts-info__link-submit,
.social-list__link,
.footer-list__link,
.devs-link,
.signin-form__link,
.nav-list-item__link,
.breadcrumbs-list__link,
.goods-item__link,
.pagination-list__item-link,
.cart-link,
.devs-special-text,
.catalog-item__link {
  text-decoration: none;
}

.main-header__logo,
.goods-item__image,
.contacts-image,
.devs-link__image {
  max-width: 100%;
  height: auto;
}

.subscription-form__button,
.signin-form__button,
.feadback-form__button,
.price-slider__button,
.filters-form__button,
.cart-table__button {
  padding: 0;
  border: 0;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

/* Header */

.main-header-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
}

.main-header__main-nav-wrapper {
  grid-column: span 3;
  display: flex;
}

.main-nav {
  font-size: 16px;
  line-height: 18px;
}

.main-nav__list {
  display: flex;
}

.nav-item__link {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: bold;
  color: var(--basic-white-color);
}

.nav-item__link:hover,
.nav-item__link:active {
  color: var(--basic-dark-color);
}

.nav-item__link:hover {
  background-color: var(--basic-white-color);
}

.nav-item__link:active {
  background-color: var(--nav-active-color);
  box-shadow: inset 0 2px 1px var(--shadow-color);
}

.nav-item__link-current {
  background-color: var(--nav-current-color);
}

.nav-item-current {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: bold;
}

.catalog-nav {
  background-color: var(--basic-white-color);
}

.catalog-nav__item-current {
  background-color: var(--nav-current-color);
}

.catalog-nav__item:hover {
  background-color: var(--catalog-nav-hover-color);
}

.catalog-nav__item:active {
  background-color: var(--catalog-nav-active-color);
}

.catalog-nav__item-link {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-dark-color);
}

.catalog-nav__item-link-special {
  font-family: "Roboto Bold", Arial, sans-serif;
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-dark-color);
}

.main-header__user-nav-wrapper {
  grid-column: span 1;
}

.main-header__link,
.main-header__text {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--basic-white-color);
}

.main-header__link {
  background-color: var(--lower-background-color);
}

.main-header__link:hover,
.main-header__link:active {
  color: var(--basic-dark-color);

  background-color: var(--basic-white-color);
}

.main-header__link-full {
  color: var(--basic-dark-color);
}

.main-header__info-wrapper {
  grid-column: span 4;
}

.main-header__text {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: bold;
}

.main-header__link-phone {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;

  background-color: transparent;
}

.main-header__link-phone:hover,
.main-header__link-phone:active {
  color: var(--light-link-action-color);

  background-color: transparent;
}

/* Advertisement */

.advertisement-wrapper {
  position: relative;
  display: flex;
  padding-bottom: 41px;
  flex-direction: column;
  justify-content: end;
}

.advertisement-title {
  position: relative;
  display: inline-block;
  width: 672px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.advertisement-list {
  display: flex;
  margin: 0;
}

.button-link {
  display: block;
  text-align: center;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: var(--basic-white-color);
  text-shadow: 0 2px 5px var(--text-shadow-color);

  background: var(--button-link-color);
  box-shadow: 0 2px 2px var(--button-link-shadow-color);
}

.button-link:hover {
  background: var(--button-link-hover-color);
  box-shadow: 0 2px 2px var(--button-link-shadow-hover-color);
}

.button-link:active {
  background: var(--button-link-active-color);
  box-shadow: inset 0 2px 2px var(--button-link-shadow-active-color);
}

.advertisement-link {
  font-size: 32px;
  line-height: 44px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 9px;
  padding-right: 23px;
  padding-bottom: 9px;
  padding-left: 23px;

  border-radius: 70px;
}

/* Banners */

.banner-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  margin-bottom: 40px;
}

.banners-item__title {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.banners-item__text {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.banners-item-left {
  background-image: url("img/banner-background1.jpg");
  background-repeat: no-repeat;
  background-color: var(--banner-background1-color);
}

.banners-item-right {
  background-image: url("img/banner-background2.jpg");
  background-repeat: no-repeat;
  background-color: var(--banner-background2-color);
}

/* Hits / Catalog */

.hits-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 26px;
  margin-bottom: 40px;
}

.price-group__item-cost {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.price-group__item-text {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}

.catalog-item:hover {
  background-color: var(--lower-background-color);
}

.goods-item__text-group-item,
.catalog-item__text-group-item {
  font-size: 45px;
  line-height: 45px;
}

.goods-item__text,
.catalog-item__text{
  font-family: "Roboto Medium", Arial, sans-serif;
  font-weight: 500;
}

.goods-item__image,
.catalog-item__image {
  background-color: var(--popup-color);
}

/* Features */

.features {
  background-image: url("img/waffle-pattern.jpg");
  background-repeat: repeat;
  background-color: var(--waffle-background-color);
}

.features-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  row-gap: 19px;
  margin-bottom: 40px;
}

.features-title {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: var(--basic-dark-color);
}

.features-list__item-text {
  color: var(--basic-dark-color);
}

/* News */

.news-subscription-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 26px;
  margin-bottom: 40px;
}

.news {
  background-image: url("img/news-background.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-white-color);
}

.news-title {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--basic-dark-color);
}

.news-link {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-dark-color);
}

.news-link:hover {
  color: var(--dark-link-action-color);
}

/* Subscription */

.subscription {
  background-image: url("img/subscription-background.jpg");
  background-repeat: no-repeat;
  color: var(--popup-color);
}

.subscription-wrapper {
  background-color: var(--popup-color);
}

.subscription-text {
  color: var(--subs-text-color);
}

.subscription-form__input {
  background-color: var(--basic-white-color);
  border-color: var(--stroke-dark-color);
}

/* Contacts */

.contacts {
  width: 100%;
  height: 430px;
  padding-top: 62px;

  background-image: url("img/map-pin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  width: 303px;
  /* justify-self: end; */

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-dark-color);

  background-color: var(--special-white-color);
}

.contacts-info__address,
.contacts-info__link-phone {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts-info__address {
  font-style: normal;
}

.contacts-info__link-phone {
  color: var(--basic-dark-color);
}

/* Footer */

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 26px;
  padding-top: 18px;
}

.footer-nav {
  justify-self: center;
}

.social-list__link-svg {
  fill-opacity: 0.8;
  stroke-opacity: 0.5;
}

.social-list__link-svg:hover {
  fill-opacity: 1;
}

.social-list__link-svg:active {
  stroke-opacity: 0.7;
}

.footer-list__link {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white-color);
}

.footer-list__link-current {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: bold;
}

.footer-list__link:hover,
.footer-list__link:active {
  color: var(--light-link-action-color);
}

.devs-text {
  font-size: 12px;
  line-height: 18px;
}

.devs-special-text {
  color: var(--basic-white-color);
}

.devs-special-text:hover,
.devs-special-text:active {
  color: var(--light-link-action-color);
}

/* Sign in */

.signin-form {
  background-color: var(--popup-color);
  box-shadow: 0 20px 20px var(--popup-shadow-color);
}

.signin-form__input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-color);

  background-color: var(--basic-white-color);
}

.signin-form__link {
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-dark-color);
}

.signin-form__link:hover,
.signin-form__link:active {
  color: var(--dark-link-action-color);
}

.signin-form__button {
  line-height: 16px;
}

/* Search */

.search-form {
  background-color: var(--popup-color);
  box-shadow: 0 20px 20px var(--popup-shadow-color);
}

.search-form__input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-color);

  background-color: var(--basic-white-color);
}

/* Feadback */

.feadback-form {
  background-color: var(--popup-color);
}

.feadback-form__title {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: var(--basic-dark-color);
}

.feadback-form__input,
.feadback-form__textarea {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-color);

  background-color: var(--basic-white-color);
}

/* Breadcrumbs */

.breadcrumbs-list,
.breadcrumbs-list__link {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white-color);
}

/* Catalog main */

.main-title {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: var(--basic-white-color);
}

/* Filters */

.filters-form__fieldset {
  border: none;
}

.filters-form__legend {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--basic-white-color);
}

.filters-form__select {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: lowercase;
  color: var(--basic-white-color);

  background-color: var(--lower-background-color);
  border: none;
}

.filters-form__select:hover,
.filters-form__select:active {
  color: var(--basic-dark-color);
}

.filters-form__select option {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: var(--basic-dark-color);
}

.price-slider {
  background-color: var(--lower-background-color);
}

.price-slider__general-line {
  width: 176px;
  height: 2px;

  background-color: var(--popup-color);
  opacity: 0.5;
}

.price-slider__active-line {
  width: 106px;
  height: 2px;

  background-color: var(--popup-color);
}

.price-slider__button {
  width: 20px;
  height: 20px;

  background-color: var(--exception-color);
  border-radius: 10px;
  border: 8px solid var(--basic-white-color);
}

.price-slider__button:hover {
  cursor: url("img/cursor-hand.png"), pointer;
}

.price-slider__button:active {
  cursor: default;
}

.filters-form__list {
  background-color: var(--lower-background-color);
}

.filters-item__label {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white-color);
}

.filters-form__button {
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white-color);

  background-color: var(--lower-background-color);
  border: 2px solid var(--basic-white-color);
}

.filters-form__button:hover {
  color: var(--basic-dark-color);

  background-color: var(--basic-white-color);
  border: none;
}

.filters-form__button:active {
  box-shadow: inset 0 2px 1px var(--shadow-color);
}

/* Pagination */

.pagination-list__item-link {
  display: block;
  width: 26px;
  height: 26px;
  text-align: center;

  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--basic-white-color);

  border-radius: 13px;
}

.pagination-list__item-link:hover {
  cursor: url("img/cursor-hand.png"), pointer;
  background-color: var(--lower-background-color);
}

.pagination-list__item-link-active,
.pagination-list__item-link:active {
  color: var(--basic-dark-color);

  cursor: default;
  background-color: var(--basic-white-color);
}

/* Cart */

.cart {
  background-color: var(--popup-color);
  box-shadow: 0 20px 20px var(--popup-shadow-color);
}

.cart-table {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-dark-color);
}

.cart-table__price {
  color: var(--exception-color);
}

.cart-result__text {
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
  color: var(--basic-dark-color);
}
